**/__pycache__/
*.so
.idea/

data/
checkpoints/
renders/
logs/
wandb/
temp/
demos/
networks/**/*.jpg
networks/**/*.png
networks/**/*.pt
visualizations/
!visualizations/*.css

*.gv
*.zip
*.mp4
*.ply

pybullet_engine/ikfast/franka_panda/*.so
pybullet_engine/ikfast/franka_panda/ikfast_panda_arm.cpython-39-x86_64-linux-gnu.so
