<?xml version="1.0" ?>
<robot name="t-shape">
  <link name="handle">
    <contact>
      <lateral_friction value="0.3"/>
      <rolling_friction value="0.0001"/>
      <inertia_scaling value="3.0"/>
    </contact>

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.2"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="DIMX0 DIMX1 DIMX2"/>
      </geometry>
      <material name="brown">
        <color rgba="0.61176471 0.45882353 0.37254902 1"/>
      </material>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="DIMX0 DIMX1 DIMX2"/>
      </geometry>
    </collision>
  </link>

  <link name="bar">
    <contact>
      <lateral_friction value="0.3"/>
      <rolling_friction value="0.0001"/>
      <inertia_scaling value="3.0"/>
    </contact>

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.2"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="DIMY0 DIMY1 DIMY2"/>
      </geometry>
      <material name="brown">
        <color rgba="0.61176471 0.45882353 0.37254902 1"/>
      </material>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="DIMY0 DIMY1 DIMY2"/>
      </geometry>
    </collision>
  </link>

  <joint name="t-joint" type="fixed">
    <parent link="handle"/>
    <child link="bar"/>
    <origin rpy="0.0 0.0 0.0" xyz="DISP0 DISP1 DISP2" />
  </joint>
</robot>

